@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
body{
    background-color: blue;
    margin:0;
    padding:0;
}
h1{
    font-size: 60px;
    font-family:'Itim',cursive;
    text-align: center;
    font-weight: bold;
    color:white ;
}
h1:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}
.member{
    color: white;
    font-size: 35px;
    font-family: 'Itim',cursive;
    font-weight: normal;
    text-align: center;
}